.page404 {
  min-height: 100vh;
}

.page404__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 250px auto;
}

.page404__title {
  font-weight: 400;
  font-size: 140px;
  margin: 0;
}

.page404__subtitle {
  margin: 10px auto;
  font-size: 16px;
}

.page404__link {
  margin: 174px 0 30px 0;
  color: #4285f4;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.page404__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .page404__container {
    margin: 410px auto auto auto;
  }
}

@media screen and (max-width: 550px) {
  .page404__container {
    margin-top: 330px;
  }

  .page404__title {
    font-size: 80px;
  }

  .page404__subtitle {
    margin: 13px auto 10px auto;
    font-size: 12px;
  }

  .page404__link {
    font-size: 12px;
    margin-top: 275px;
  }
}
