.navigation__container {
  max-width: 1280px;
  margin: 0 auto;
  max-height: 74px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 18px 70px;
}

.navigation__wrapper {
  display: flex;
  gap: 0px;
  max-height: 30px;
}

.navigation__buttons-wrapper {
  display: flex;
}

.navigation__btn {
  background-color: inherit;
  border: 0;
  color: #ffffff;
  padding: 8px 20px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  border-radius: 3px;
  box-sizing: border-box;
}

.navigation__btn_active {
  background-color: #3ddc84;
  color: black;
}
