.header {
  background-color: inherit;
}

.header_type_main {
  background-color: #073042;
}

.header__logo {
  max-height: 100%;
}

.header__container {
  max-width: 1280px;
  margin: 0 auto;
  max-height: 74px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 18px 70px;
}

.header__wrapper {
  display: flex;
  gap: 30px;
}

.header__buttons-wrapper {
  display: flex;
}

.header__btn {
  background-color: inherit;
  border: 0;
  padding: 8px 20px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 128.571% */
  text-decoration: none;
}

.btn_populary {
  background-color: #3ddc84;
  border-radius: 3px;
  box-sizing: border-box;
  color: black;
}

.header__wrapper_type_auth {
  gap: 0px;
  max-height: 30px;
}

.header__profile {
  display: flex;
}

.header__icon {
  align-self: center;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 6px;
  background: #313131;
  cursor: pointer;
}
